<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="flex-row-start">

    <% @note_categories.each.each_with_index do |category, i| %>
    <% if i == 0 %>
      <div class="cell">
    <% end %>
      <%= check_box_tag('category_list[]', category.id, @note.note_categories.collect {|obj| obj.id}.include?(category.id)) %><%= category.title %><br />
    <% if i == 5 %>
      </div>
      <div class="cell">
    <% end %>
    <% if i == 11 %>
      </div>
      <div class="cell">
    <% end %>

    <% end %>
</div>
</div>
<div style="clear: both;"></div>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => '60' %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :rows => 10, :cols => 62 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

