<% if user_signed_in? %>
  <% if current_user.roles.any? {|role| role.name == "member" } %>
    <div style="float: right;">
      <%= button_to 'Add New Post', new_post_path, :method => :get, :class => "inline_btn" %>
    </div>
  <% end %>
<% end %>

<% @posts.each do |post| %>
<div class="calendar-css">
<div class="calendar-month"><%= post.created_at.strftime("%b") %></div>
<div class="calendar-date"><%= post.created_at.strftime("%d") %></div>
</div>
<h2><%= link_to post.title, post %></h2>
<p><%= sanitize(post.content) %></p>
<hr />
<% end %>

