<h1><%= @post.title %></h1>

<%= sanitize(@post.content) %>

<% if user_signed_in? %>
  <p>
    <b>Published:</b>
    <%= @post.published %>
  </p>

  <p>
    <b>User:</b>
    <%= @post.user_id %>
  </p>


  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
  <%= link_to 'Back', posts_path %>
