<!DOCTYPE html>
<html>
<head>
  <title>The Big Trip II</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

</head>

<body>

<div id="top">&nbsp;</div>

<div id="container">

<% if user_signed_in? %>
    <%= button_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'logout-btn' %>
<% end %>

<header>
    <div class="logo">
        <%= link_to image_tag('map.png'), "/" %>
    </div>
    <div  class="title">
      <h1>The Big Trip II</h1><p class="tagline">Paris, Toulouse, Venice, Prague, Erlangen, Geneva</p>
    </div>
</header>

<nav id="top-nav">
    <%= render 'layouts/nav' %>
</nav>

<div id="main">

<section id="content">
    <article>
        <p id="notice"><%= notice %></p>
        <%= yield %>
    </article>
</section>


</div>

<footer>
    <%#= render 'layouts/footer' %>
</footer>
</div>
</body>
</html>

