<!DOCTYPE html>
<html>
<head>
  <title>The Big Trip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="top">&nbsp;</div>

<div id="container">

<% if user_signed_in? %>
    <%= button_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'logout-btn' %>
<% end %>

<header>
    <div class="logo">
        <%= link_to image_tag('map.png'), "/" %>
    </div>
<h1>The Big Trip</h1><p class="tagline">Paris, Casablanca, Marrakesh, Nice, Wales, London</p>
</header>

<nav id="top-nav">
    <%#= render 'layouts/nav' %>
</nav>

<div id="main">

<section id="sidebar-left">
  <%= yield :sidebar %>
</section>

<section id="content">
    <article>
        <p id="notice"><%= notice %></p>
        <%= yield %>
    </article>
</section>


</div>

<footer>
    <%#= render 'layouts/footer' %>
</footer>
</div>
</body>
</html>

